Repository tmaxai/tmaxai.github.io, pull requests merged in 2019-02, with the labels that each got.

#58 macOS 폰트 가시성 문제 해결
  css/main.css
Labels: Bug

#59 42 contributing guide
  CONTRIBUTING.md
  assets/img/contributing/import_img.png
Labels: Stat: Waiting Review

#61 SISR 리뷰 글에서 이미지 경로 변경 및 저자정보 추가함.
  _data/authors.yml
  _posts/2019-01-21-review_Deep Learning for Single Image Super-Resolution: A Brief Review.md
  assets/img/2019-01-21-single-image-super-resolution/1.png
  assets/img/2019-01-21-single-image-super-resolution/2.png
  assets/img/2019-01-21-single-image-super-resolution/3.png
  assets/img/2019-01-21-single-image-super-resolution/4.png
  assets/img/2019-01-21-single-image-super-resolution/5.png
  assets/img/2019-01-21-single-image-super-resolution/6.png
  assets/img/contributing_1.png
Labels: Post

#86 BERT논문 정리 포스트 작성 by mino-park7
  _posts/2019-02-23-BERT.md
Labels: Post
